// apply to every button
.btn {
    @extend .rounded-pill;
}

// apply to hero buttons
.hero-btns {
    .btn {
        padding: 0.5em 1.5em;
        font-weight: 600;
        font-size: 1.15rem;
    }
}

// main button style --> SHOULD BE LARGE ONLY
.main-btn {
    padding: 0.5em 1.8em;
    font-weight: 600;
    font-size: 1.05rem;

    // make font bigger for larger screen
    @include media-breakpoint-up(md) {
        font-size: 1.25rem;
    }
}


/*---------------------------- ACTIVE STATES ---------------------------*/
$light-active-color: rgba($dark, 0.08);

// swiper buttons
.btn.btn-swiper:active {
    background-color: $light-active-color;
    // background-color: $primary;
    border-width: 2px;
    border-color: $info;
    font-weight: 1.2rem;
    // transform: scale(0.98);
}
