/* Core Brand Colors */
$primary:   #b22222;
$secondary: #d0d2aa;
// $light:     #f8f8f6;
$light:     #fdfae9;
$dark:      #490100;

/* Supporting Colors */
// $warm: #fdfae9;
$white: #f8f8f6;
$neutral: #7a7a4e;

/* Functional Colors */
$success:   #a8dcab;
$warning:   #e7c000;
$info:      $neutral;

/* Body and Background Colors */
$body-bg: $light;
$body-color: $dark;
$secondary-bg: $neutral;
$tertiary-bg: $light;

/* Import all Bootstrap so every component is updated */
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/variables";