/* Core Brand Colors */
// $cream: #fdfae9;
$cream: #f5f1e9;
$green-light: #d0d2aa;
// $green-light: #d0d7bd;
$green-dark: #7e896b;
$red-dark: #490100;

// $red-accent: #b22222;    // ?
// $red-accent: #d30000;
// $red-accent: #b80f0a;
$red-accent: #8a0707;
$darker-green: shade-color($green-dark, 40%);
$darker-red: shade-color($red-dark, 20%);

/* ---------- Bootstrap Coloring ---------- */

/* Main Colors */
$primary:   $green-dark;
$secondary: $green-light;

$light:     $cream;
$dark:      $red-dark;

/* Functional Colors */
$success:   #a8dcab;
// $info:      $green-light;
$info:      $red-accent;
$warning:   #e7c000;


/* Body and Background Colors */
$body-bg: $cream;                       // background color
// $body-color: $darker-red;               // main text color
$body-color: $red-dark;
// $body-bg: $cream;
// $body-color: $green-dark;


// ensure minimum contrast ratios
// $min-contrast-ratio: 10;