/* -------------------------- Core Brand Colors -------------------------- */
// $cream: #fdfae9;
$cream: #f5f1e9;
// $green-light: #d0d2aa;
$green-light: #d0d7bd;
$green-dark: #7e896b;
$red-dark: #490100;
$red-accent: #8a0707;
// $darker-green: shade-color($green-dark, 40%);
$darker-green: #0e3828;
$darker-red: shade-color($red-dark, 20%);

/* ---------- Bootstrap Coloring ---------- */

/* Main Colors */
$primary:   $green-dark;
$secondary: $green-light;

$light:     $cream;
$dark:      $red-dark;
// $main-text: #333;
$main-text: #21201f;

/* Functional Colors */
// $success:   #a8dcab;
$success:   #defaca;
// $info:      $green-light;
$info:      $red-accent;
$warning:   #e7c000;
// $danger:    #b92e34;
$danger:    #e55451;


/* Body and Background Colors */
$body-bg: $cream;                    // background color
$body-color: $main-text;
// $body-color: $red-dark;             // main text color


// ensure minimum contrast ratios
// $min-contrast-ratio: 10;

/* -------------------------- Custom Color Schemes -------------------------- */
/* Define color scheme maps (just bg and text) */
$color-schemes: (
    "secondary": (
        // "bg": lighten($secondary, 5%),
        "bg": $secondary,
        // "text": darken($darker-green, 5%)
        "text": $main-text
    ),
    "dark": (
        "bg": $dark,
        "text": $light
    ),
    "primary": (
        "bg": $primary,
        "text": $light
    ),
    "forest": (
        "bg": $darker-green,
        "text": $light
    ),
    "important": (
        "bg": lighten($dark, 5%),
        "text": $light
    )
);

/* Generate utility classes for each color scheme */
@each $scheme-name, $colors in $color-schemes {
    .color-scheme-#{$scheme-name} {
        background-color: map-get($colors, bg);
        color: map-get($colors, "text");
    }
}

