// @use 'colors'; 


/* Countdown: Typography & Borders */

$time-unit-color: lighten($dark, 5%);

.timebox {

    .time-unit {
        border: 1px solid $time-unit-color;
        @extend .rounded-3;
        background-color: $time-unit-color;      
    }

    h3 {
        margin-bottom: 0.25rem;
        font-size: 3rem;
        font-weight: 350;
        line-height: 1.1;
    }

    p {
        margin-bottom: 0.25rem;
        line-height: 0;
    }

    .p-time {
        font-size: 0.7rem;
        font-weight: 600;
        line-height: 2;
    }
}