// use redefined colors scheme
@use 'colors';

// customize faq section colors
.faqs {

    // main body colors
    .accordion {
        // text colors
        --bs-accordion-color: #{colors.$light};             //question
        --bs-accordion-bg: #{colors.$dark};                 //answer
        
        // 
        --bs-accordion-btn-color: #{colors.$light};         //question text (not active)
        --bs-accordion-btn-bg: #{colors.$dark};             //background color
        --bs-accordion-btn-focus-box-shadow: none;          //focus outline

        // active
        --bs-accordion-active-color: #{colors.$light};      //question text color                           //question text when clicked
        --bs-accordion-active-bg: #{colors.$dark};          //question bg text color

        // border
        --bs-accordion-border-color: #{colors.$light};
        --bs-accordion-border-width: 2px;

        // custom icons
        --bs-accordion-btn-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fdfae9' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/></svg>");
        --bs-accordion-btn-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fdfae9' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8'/></svg>");
    }

    // question font
    .accordion-button {
        @include lead-text-styles;      //font
        @extend .fw-semibold;           //boldness
        // font-weight: $lead-font-weight;
        // line-height: $line-height-base;
    }

    // answers font
    .accordion-body {
        @include lead-text-styles;      //font
        @extend .fw-lighter;            //boldness
    }
}