/* --------------------------- COLOR THEMES --------------------------- */

// base for custom navbar themes
@mixin navbar-theme(
    $bg, $text-color, $hover-color: null, 
    $btn-bg: null, $btn-text: null
) {
    background-color: $bg;

    .navbar-brand,
    .navbar-nav .nav-link {
        color: $text-color;
        background-color: transparent;
        
        &:hover, &:focus {
            color: $hover-color or darken($text-color, 10%);
        }
    }

    .navbar-toggler {
        // border-color: none;
        border: none;
        box-shadow: none;

        // fade in and out between hamburger and x icons
        .navbar-toggler-icon {
            transition: background-image 0.25s ease-in-out;
        }
    }

    // hamburger icon
    .navbar-toggler-icon {
        $encoded-color: str-replace(#{$text-color}, '#', '%23');
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='#{$encoded-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    // x icon when dropdown open
    .navbar-toggler[aria-expanded="true"] {
        .navbar-toggler-icon {
            $encoded-color: str-replace(#{$text-color}, '#', '%23');
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='#{$encoded-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5' d='M6 6L24 24M24 6L6 24'/%3e%3c/svg%3e");
        }
    }

    // shadow on mobile when menu open
    @include media-breakpoint-down(sm) {
        &:has(.navbar-collapse.show){
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        }
    }

    // cta button styling within navbar
    .btn {
        background-color: $btn-bg  or $text-color;
        color: $btn-text or $bg;

        &:hover {
            background-color: darken($btn-bg or $text-color, 10%);
        }
    }

}

// navbar themes
.navbar-theme-transparent {
    @include navbar-theme(
        // transparent, $light, $info,
        // $dark, $light

        transparent, $light, $info,
        rgba(15, 23, 42, 0.1), $light
    );

    // apply blur to navbar when dropdown opened
    &:has(.navbar-collapse.show),
    &:has(.navbar-collapse.collapsing) {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }

    // collapsing menu
    @include media-breakpoint-down(sm) {
        #navbarMenu.navbar-collapse {

            // ensure background goes from side to side (no gaps)
            margin-left: -15px;
            margin-right: -15px;

            // have background show during collapsing and when opened
            &.collapsing,
            &.show {
                // background-image: radial-gradient(black, transparent);
                // background: rgba(15, 23, 42, 0.25);
                background-image: none;
                -webkit-backdrop-filter: blur(8px);
                backdrop-filter: blur(8px);
            }

            // padding
            .navbar-nav {
                padding: 1rem 1.5rem;
            }
        }
    }

    //cta button
    .btn {
        background: rgba($light, 0.15);
        backdrop-filter: blur(4px);
        // border: 1.5px solid $light;
    }
}

.navbar-theme-info {
    @include navbar-theme(
        $light, $dark, $info,
        $info, $light
    );
}

.navbar-theme-secondary {
    @include navbar-theme(
        $secondary, $darker-green, $primary,
        $primary, $light
    );
}

.navbar-theme-primary {
    @include navbar-theme(
        $primary, $light, $success,
        $secondary, $darker-green
    );
}

.navbar-theme-dark {
    @include navbar-theme(
        $dark, $light, $success,
        $info, $light
    );
}

/* --------------------------- Typography --------------------------- */
.navbar {
    .navbar-brand {
        font-weight: 700;
        font-size: 1.5rem;
        // font-family:
    }

    // applies font changes when greater than sm
    @include media-breakpoint-up(sm) {
        .navbar-nav .nav-link {
            font-weight: 500;
            font-size: 1rem;
        }
    }

    .btn {
        font-weight: 600;
        font-size: 1.05rem;
        // font-weight: 500;
        // font-size: 1rem;
    }
}

// .offcanvas {
//     .offcanvas-title {
//         font-weight: 700;
//         font-size: 2rem;
//     }

//     // applies font changes when at sm or less
//     @include media-breakpoint-down(sm) {
//         .navbar-nav .nav-link {
//             font-weight: 500;
//             font-size: 1.5rem;
//         }

//         .btn {
//             font-weight: 500;
//             font-size: 1.5rem;
//             width: 60%;
//         }
//     }

// }

/* --------------------------- Transition --------------------------- */
.navbar {
    transition: 
        background-color 0.3s ease,
    // transition: all 0.5s ease;
        backdrop-filter 0.3s ease, 
        -webkit-backdrop-filter 0.3s ease;
}